Repository OAI/OpenAPI-Specification, pull requests merged in 2023-03, with the labels that each got.

#3180 fix: typo in style example
  versions/3.0.4.md
Labels: 3.0.4

#3188 Fix broken RFC links
  versions/3.0.4.md
Labels: 3.0.4

#3194 3.0.4: fix Link Object example
  versions/3.0.4.md
Labels: 3.0.4

#3187 Clarify the use of "binary" and "byte" formats
  versions/3.0.4.md
Labels: review, 3.0.4

#3186 - adds int16 format
  registries/_format/int16.md
Labels: format-registry

#3185 - adds a char format description
  registries/_format/char.md
Labels: format-registry

#3184 - adds a base64url format description
  registries/_format/base64url.md
Labels: format-registry

#3190 - adds decimal format
  registries/_format/decimal.md
Labels: format-registry
